.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 95px 50px;
}

.header-logo {
    display: block;
    width: 148px;
    height: 105px;  
}

.header-link-logo {
    display: block;
}

.nav-header-list {
    display: flex;
    gap: 32.7px;
    list-style: circle;
}

.header__link {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .header__link a {
    text-decoration: inherit;
  }

.header__link_active {
    text-decoration: none;
  }

  .header__link_no-marker {
    list-style: none;
  }
  
  .address {
    max-width: 240px;
    justify-self: end;
    color: #000;
    font-family: Raleway 'sans-serif';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; 
    padding-right: 37px;
  }

  .address_underliner {
    text-underline-offset: 4px;
    color: #000;
    font-family: Raleway 'sans-serif';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
  }

  .cover {
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    position:relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

 .overlay {
    position:absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
 }

 .cover__title {
    display: block;
    position: relative;
    z-index: 2;
    color: #FFF;
    font-family: Raleway 'sans-serif';
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
    padding: 165px 50px 50px;
    margin-bottom: 155px;
 }

 .aligned-text {
    display: block;
    text-align: left;
 }
 
.aligned-text_center {
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
}

.aligned-text_right {
    text-align: right;
    margin-top: 20px;
    margin-right: -30px;
}

.description {
  position: absolute;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  margin-top: 610px;
  margin-left: 50px;
  gap: 105px;
}

.description__text {
  color: #FFF;
  font-family: Raleway 'sans-serif';
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 19px;
  text-transform: uppercase;
  align-self: center;
}

.bet-button {
  color: #FFF;
  text-align: center;
  font-family: Raleway 'sans-serif';
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #FFF;
  min-width: 256px;
  min-height: 51px;
  flex-shrink: 0;
}

.lots {
  padding : 180px 25px 120px;
}

.lots__heading {
  color: #000;
  font-family: Raleway 'sans-serif';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  gap: 24px;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.card__title {
  color: #FFF;
  font-family: Raleway 'sans-serif';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
  z-index: 2;
}

.card__text {
  color: #FFF;
  font-family: Raleway 'sans-serif';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  z-index: 2;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.lots__look-more-link{
  color: #000;
  font-family: Raleway 'sans-serif';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 40px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding-left: 24px;
  padding-right: 24px;
  flex-shrink: 0;
  width: 1052px;
}

.about__logo {
  width: 240px;
  height: 240px;
  flex-shrink: 0;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 0 0 47px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  flex-shrink: 0;
}

.about__title {
  color: #000;
  font-family: Raleway 'sans-serif';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 25px;
  padding-top: 137px;
}

.about__content {
  color: #000;
  font-family: Raleway 'sans-serif';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 25px;
  min-width: 690px;
}

.about__content_with-top-padding {
  padding-top: 98px;
}

.about__content_space-below {
  margin-bottom: 24px;
}

.footer {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top:180px;
  padding-top: 3px;
}

.address_footer {
    min-width: 264.573px;
    flex-shrink: 0;
    color: #000;
    font-family: Raleway 'sans-serif';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; 
    padding-left:50px;
}

.nav-footer {
  padding-top: 1px;
}

.nav-footer-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link a {
  text-decoration: inherit;
}

.footer__menu-link_active {
  text-decoration: none;
}

.socials-footer {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-self: end;
  margin-right: 50px;
}

.socials-footer__icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
